.bar{
	background-color: #ED9E50;
}

.brand{
	color: #E8ECE8 !important;
	font-size: 36px;
	font-family: "Satisfy", cursive;
}

#basic-nav-dropdwon{
	color: #E8ECE8;
}

.act{
	font-family: 'Comic Neue', cursive;
	text-align:left;
	border: none;
	height: 35px;
	margin-top: 5px;
}

.list{
	margin-top: 5px;
	height: 600px;
	overflow-y: auto;
}

.block{
	max-width: 100%;
}

.name{
	font-family: 'Comic Neue', cursive;
	font-size: 24px;
	color: #2D3E4E;
}

.bnt_host{
	padding: 5px;
	border: none;
	background-color: #2D3E4E;
	color: #E8ECE8;
	float: right;
}

.bnt_create{
	padding: 0px;
	border: none;
	background-color: #ED9E50;
	color: #E8ECE8;
	float: right;
	margin-right: 5px;
}

.bnt_mode{
	padding: 5px;
	border: none;
	background-color: #8CBDB9;
	color: #2D3E4E;
	float: right;
	margin-right: 5px;
}

.calender{
	width: 100%;
	height: 100%;
	background-color: white;
	border-radius: 5px;
	border-style:solid;
	border-width: 5px;
	border-color: #2D3E4E;
}

.dropdown_icon{
	margin-right: 10px;
}

.submit_btn{
	font-family: 'Comic Neue', cursive;
	font-weight: bold;
	background-color: #8CBDB9;
	color: #2D3E4E;
	border-color: #2D3E4E;
	border-radius: 5px;
	border-width: 2px;
}

.div_btn{
	text-align: center;
}

.div_btn_right{
	text-align: right;
}

.title{
	font-size: 64px;
	color: #2D3E4E;
	font-family: "Satisfy", cursive;
	text-align: center;
	padding-bottom: 30px;
}

.page_title{
	font-size: 58px;
	font-family: 'Comic Neue', cursive;
	color: #2D3E4E;
	text-align: center;
	padding-top: 15px;
}

.description{
	font-family: 'Comic Neue', cursive;
	color: #2D3E4E;
	text-align: center;
}

.context{
	font-family: 'Comic Neue', cursive;
	color: #2D3E4E;
}

.si_block{
	padding-top: 5px;
	font-family: 'Comic Neue', cursive;
	color: #2D3E4E;
	text-align: center;
}

.sig_link{
	color: #8CBDB9;
}

.con{
	padding-top: 30px;
}

.form_text{
	font-family: 'Comic Neue', cursive;
	font-size: 24px;
	color: #2D3E4E;
}

.form_input{
	border-color: #2D3E4E;
	border-width: 2px;
}

.modal{
	font-family: 'Comic Neue', cursive;
	color: #2D3E4E;
}

.modal_yes{
	font-family: 'Comic Neue', cursive;
	font-weight: bold;
	background-color: #2D3E4E;
	color: white;
	border-color: #2D3E4E;
	border-radius: 5px;
	border-width: 2px;
}

.modal_no{
	font-family: 'Comic Neue', cursive;
	font-weight: bold;
	background-color: #8CBDB9;
	color: #2D3E4E;
	border-color: #2D3E4E;
	border-radius: 5px;
	border-width: 2px;
}

.reference_block{
	width: 100%;
	height: 450px;
	overflow-y: auto;
}

.reference{
	font-family: 'Comic Neue', cursive;
	text-align:left;
	background-color: #8CBDB9;
	border: none;
	height: 35px;
	margin-top: 5px;
}

.calender_text{
	font-family: 'Comic Neue', cursive;
	font-size: 18px;
	color: #2D3E4E;
}

.calender_top{
	font-family: 'Comic Neue', cursive;
	font-size: 24px;
	background-color: #8CBDB9;
	color: #2D3E4E;
	border-color: #2D3E4E;
	border-radius: 5px;
	border-width: 2px;
}

table.table-bordered{
    border:1px solid black;
}
table.table-bordered > thead > tr th{
    border:1px solid black;
}
table.table-bordered > tbody > tr td{
    border:1px solid black;
}
table.table-width-fixed{
	table-layout: fixed;
}